.avtar {
  top: 180px;
  left: 860px;
  width: 200px;
  height: 200px;
  background: #efefef 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.upperContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avtarIcon {
  top: 230px;
  left: 910px;
  width: 100px;
  height: 100px;
  background: transparent url("../../assets/ic_user/ic_user.png") 0% 0%
    no-repeat padding-box;
  opacity: 1;
}
.textAvtar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textAvtar h1 {
  top: 396px;
  left: 844px;
  width: 233px;
  height: 65px;
  text-align: left;
  font: normal normal bold 48px/65px Open Sans;
  letter-spacing: 0px;
  color: #0b3558;
  opacity: 1;
  text-align: center;
  margin: 0px;
}
.textAvtar p {
  width: 336px;
  height: 54px;
  text-align: center;
  font: normal normal normal 20px/27px Open Sans;
  letter-spacing: 0px;
  color: #0b3558;
  opacity: 1;
  margin: 0px;
}

.submitBut {
  text-align: left;
  font: normal normal 600 24px/33px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.forgotPassword {
  text-align: left;
  font: normal normal 600 16px Open Sans;
  letter-spacing: 0px;
  color: #003fb9;
  opacity: 1;
  text-align: right;
  margin-top: 8px;
  width: 100%;
  text-decoration: none;
}
